{% extends 'base.html.twig' %}

{% block body %}
    <div class="jumbotron">
        <h1 class="text-center">Welcome to our Library</h1>
    </div>

    <div>
        <div>
            <a href="{{ path('AddBook') }}"><i class="fas fa-plus-square purple icon-size-home">Add a book</i></a>
            <a href="{{ path('AddAuthor') }}"><i class="fas fa-plus-square purple icon-size-home">Add an Author</i></a>
            <a href="{{ path('AddCollectionName') }}"><i class="fas fa-plus-square purple icon-size-home">Add aCollection</i></a>

            <p><i class="fas fa-minus-square purple icon-size-home"></i></p>
            <a href="{{ path('book_list') }}"><i class="fas fa-book purple icon-size-home"></i>List of books</a>
        </div>
    </div>
{% endblock %}
