{% extends 'base.html.twig' %}

{% block body %}
    <div class="jumbotron">
        <h1 class="text-center">Add a new Book</h1>
    </div>
    <div class="form">
        {{ form(form) }}
    </div>
    <div class="my-custom-class-for-errors">
        {{ form_errors(form) }}
    </div>
{% endblock %}
